<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Final Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".TGNewsEmptyFrameActivity"></activity>
        <activity android:name=".StarredActivity" />
        <activity android:name=".TGNewsDetailsFragment" />
        <activity android:name=".TheGuardianActivity" />
        <activity android:name=".ListViewForImage"/>
        <activity android:name=".MyOpener"/>
        <activity android:name=".NasaDB"/>
        <activity android:name=".EnterGeoInfo"/>
        <activity android:name=".EmptyActivity"/>
        <activity android:name=".NasaFragment"/>
        <activity android:name=".BbcEmptyActivity"></activity>
        <activity android:name=".bbc_fav" />
        <activity android:name=".bbc_details" />
        <activity android:name=".bbc_main" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>